.container
    display: flex
    flex-direction: column
    align-items: center
    background-color: #D9D9D9

.customChip
    width: 800px !important
    background-color: #003A5F !important
    color: white !important
    height: 40px !important
    font-size: 18px !important
