.header
    background-color: #003A5F
    display: flex
    flex-direction: column
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100

.fixed
    position: fixed

img
    width: 100%

.tab
    text-decoration: none
    color: #fff !important
    transition: background-color 0.3s ease
    width: 270px
    text-transform: none !important

.selected
    background-color: #0099FF !important
    color: #fff !important
